* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.page-wrap {
  width: 100%;
  height: 100%;
  background: none !important;
}

.page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.page-right .header {
  background: #fff !important;
  border-bottom: 1px solid #707C89;
}

.page-right .header .search {
  display: flex;
}

.page-right .header .search li:nth-child(1) {
  flex: .5;
}

.page-right .header .search li:nth-child(2) {
  flex: .5;
}

.page-right .header .search li:nth-child(3) {
  flex: 9;
}

.page-right .header .search li:nth-child(3) input {
  width: 250px;
  height: 25px;
}

.page-right .main {
  background: none !important;
  width: 100%;
  height: 100%;
}

.page-right .main .navLine {
  width: 100%;
  height: 300px;
}

.page-right .main .mainBox {
  display: flex;
  width: 100%;
  height: 100%;
}

.page-right .main .mainBox .main-left {
  flex: 4;
}

.page-right .main .mainBox .main-right {
  flex: 6;
}

.page-right .footer {
  background: none !important;
}
